AplicacaoFilial/xml-resources/web-service-references/Servidor/wsdl/localhost_8080/Servidor/Servidor.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://controle/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://controle/" name="Servidor">
<types>
<xsd:schema>
<xsd:import namespace="http://controle/" schemaLocation="http://localhost:8080/Servidor/Servidor?xsd=1"/>
</xsd:schema>
</types>
<message name="consulta_cliente">
<part name="parameters" element="tns:consulta_cliente"/>
</message>
<message name="consulta_clienteResponse">
<part name="parameters" element="tns:consulta_clienteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="adiciona">
<part name="parameters" element="tns:adiciona"/>
</message>
<message name="adicionaResponse">
<part name="parameters" element="tns:adicionaResponse"/>
</message>
<message name="cadastra_cliente">
<part name="parameters" element="tns:cadastra_cliente"/>
</message>
<message name="cadastra_clienteResponse">
<part name="parameters" element="tns:cadastra_clienteResponse"/>
</message>
<message name="realizar_compra">
<part name="parameters" element="tns:realizar_compra"/>
</message>
<message name="realizar_compraResponse">
<part name="parameters" element="tns:realizar_compraResponse"/>
</message>
<message name="consultar_produtos">
<part name="parameters" element="tns:consultar_produtos"/>
</message>
<message name="consultar_produtosResponse">
<part name="parameters" element="tns:consultar_produtosResponse"/>
</message>
<portType name="Servidor">
<operation name="consulta_cliente">
<input wsam:Action="http://controle/Servidor/consulta_clienteRequest" message="tns:consulta_cliente"/>
<output wsam:Action="http://controle/Servidor/consulta_clienteResponse" message="tns:consulta_clienteResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://controle/Servidor/helloRequest" message="tns:hello"/>
<output wsam:Action="http://controle/Servidor/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="adiciona">
<input wsam:Action="http://controle/Servidor/adicionaRequest" message="tns:adiciona"/>
<output wsam:Action="http://controle/Servidor/adicionaResponse" message="tns:adicionaResponse"/>
</operation>
<operation name="cadastra_cliente">
<input wsam:Action="http://controle/Servidor/cadastra_clienteRequest" message="tns:cadastra_cliente"/>
<output wsam:Action="http://controle/Servidor/cadastra_clienteResponse" message="tns:cadastra_clienteResponse"/>
</operation>
<operation name="realizar_compra">
<input wsam:Action="http://controle/Servidor/realizar_compraRequest" message="tns:realizar_compra"/>
<output wsam:Action="http://controle/Servidor/realizar_compraResponse" message="tns:realizar_compraResponse"/>
</operation>
<operation name="consultar_produtos">
<input wsam:Action="http://controle/Servidor/consultar_produtosRequest" message="tns:consultar_produtos"/>
<output wsam:Action="http://controle/Servidor/consultar_produtosResponse" message="tns:consultar_produtosResponse"/>
</operation>
</portType>
<binding name="ServidorPortBinding" type="tns:Servidor">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consulta_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="adiciona">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cadastra_cliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizar_compra">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultar_produtos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Servidor">
<port name="ServidorPort" binding="tns:ServidorPortBinding">
<soap:address location="http://localhost:8080/Servidor/Servidor"/>
</port>
</service>
</definitions>